.vs/GameMachine/DesignTimeBuild/.dtbcache.v2
.vs/GameMachine/v17/.futdcache.v2
.vs/GameMachine/v17/.suo
.vs/GameMachine/v17/DocumentLayout.json
.vs/Slot_Front/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
GameMachine/Form1.Designer.cs
GameMachine/Form1.cs
GameMachine/Form1.resx
GameMachine/GameMachine.csproj
GameMachine/bin/Debug/net6.0-windows/GameMachine.deps.json
GameMachine/bin/Debug/net6.0-windows/GameMachine.dll
GameMachine/bin/Debug/net6.0-windows/GameMachine.exe
GameMachine/bin/Debug/net6.0-windows/GameMachine.pdb
GameMachine/bin/Debug/net6.0-windows/GameMachine.runtimeconfig.json
GameMachine/obj/Debug/net6.0-windows/GameMachine.AssemblyInfo.cs
GameMachine/obj/Debug/net6.0-windows/GameMachine.AssemblyInfoInputs.cache
GameMachine/obj/Debug/net6.0-windows/GameMachine.csproj.CoreCompileInputs.cache
GameMachine/obj/Debug/net6.0-windows/GameMachine.csproj.FileListAbsolute.txt
GameMachine/obj/Debug/net6.0-windows/GameMachine.csproj.GenerateResource.cache
GameMachine/obj/Debug/net6.0-windows/GameMachine.dll
GameMachine/obj/Debug/net6.0-windows/GameMachine.genruntimeconfig.cache
GameMachine/obj/Debug/net6.0-windows/GameMachine.pdb
GameMachine/obj/Debug/net6.0-windows/GameMachine.sourcelink.json 